/* html {
  box-sizing: border-box;
} */

/* *,
*:before,
*:after {
  box-sizing: inherit;
} */

/* .content-box-element {
  box-sizing: content-box;
} */

/* .container {
  background-color: pink;
  max-width: 600px;
  margin: 0 auto;
} */

/* .row {
  width: 100%;
} */

/* .col {
  box-sizing: border-box;
  display: inline-block;
  width: 33.333333333333333333333333333%;
  width: 197px;
  height: 200px;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: pink;
  width: 600px;
}

.col {
  display: inline-block;
  width: 32.77777777%;
  height: 200px;
}
